@model CodeTalk.Models.Results
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit Page</title>
</head>
<body>
    <p>Edit page</p>
    <form method="post" asp-action="Edit" asp-controller="Results">
        <input type="hidden" asp-for="ID" />
        <h2 class="codeInput"><strong>Code Details</strong></h2>
        <hr />
        <div class="project">
            <input asp-for="baseString" type="text" placeholder="Project Name" required>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
