
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Code Talk Home Page</title>
</head>
<body>
    <h1>Start of the take over</h1>
    <a href="@Url.Action("Function", "Forms")">Function Form</a>
</body>
</html>
