@font-face {
    font-family: 'Calvier';
    src: url(../Assets/Calvier.ttf) format('truetype');
}

@font-face {
    font-family: 'Amethyst';
    src: url(../Assets/Amethyst.ttf) format('truetype');
}

@font-face {
    font-family: 'sberg';
    src: url(../Assets/Schwarzenberg.ttf);
}

body {
    background-image: url(../Assets/yeah.jpg);
    background-size: cover;
}

header {
    background-image: url(https://webgradients.com/public/webgradients_png/026%20Saint%20Petersburg.png);
    opacity: 0.95;
}

footer {
    height: 160px;
    color: whitesmoke;
    margin-top: 2%;
    display: flex;
}

input[type=text] {
    padding: 5px;
    border: 2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 33%;
    height: 32px;
    font-size: 15px;
    text-align: center;
}

section {
    background-color: transparent;
    margin: 8px;
    height: 400px;
}

.function {
    background-color: #FAFAFA;
    opacity: 0.95;
    min-height: 650px;
    border: solid 20px transparent;
    border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
}

.forLoop {
    background-color: #FAFAFA;
    opacity: 0.95;
    min-height: 650px;
    border: solid 20px transparent;
    border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
}

.variable {
    background-color: #FAFAFA;
    opacity: 0.95;
    min-height: 650px;
    border: solid 20px transparent;
    border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
}

.ifStatement {
    background-color: #FAFAFA;
    opacity: 0.95;
    min-height: 650px;
    border: solid 20px transparent;
    border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
}

.project {
    margin-top: 5%;
    margin-left: 40%;
    padding: 0.5rem;
}

.mName {
    margin-left: 40%;
    padding: 0.5rem;
}

.pName {
    margin-left: 40%;
    padding: 0.5rem;
}

.dataTp {
    margin-left: 40%;
    padding: 0.5rem;
}

.intVal {
    margin-left: 40%;
    padding: 0.5rem
}

h2 {
    font-family: Calvier;
    margin-top: 5%;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
}

#codeTalkCode {
    margin-left: 36%;
    font-size: 1.2em;
    font-family: 'Space Mono', monospace;
    margin-top: 8%;
}

.control-label {
    font-family: Calvier;
    color: whitesmoke;
    font-size: 32px;
    margin-left: 7%;
    text-shadow: 1px 1px 1px black;
}

.toResultButton {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 46%;
}

.idxForm {
    display: block;
    position: absolute;
    left: 50%;
    margin: 0px -50px;
    margin-top: 8%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    margin: 0 auto 1em auto;
    padding: .5em;
    padding-right: 1.5em;
    width: auto;
    min-width: 200px;
    outline: none;
    font-family: Arial;
    font-size: 12pt;
    font-weight: 400;
    text-overflow: '';
    border: 1px solid rgba(255,255,255,.7);
    border-radius: 2px;
    background-color: rgba(255,255,255,.5);
    background-repeat: no-repeat;
    background-position: calc(100% - .5em) 50%;
    background-size: 12px;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0,0,0,.15) 0 1px 0;
}

    select::-ms-expand {
        display: none;
    }

    select:focus {
        border-color: white;
        box-shadow: #fc0 0 0 3px;
    }

select {
    margin-left: -17%;
    margin-top: 20%;
    margin-bottom: 20%;
    color: rgba(255,255,255,.7);
    border-color: rgba(0,0,0,.7);
    background-color: rgba(0,0,0,.5);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii43IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
}

    select:active {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBvbHlnb24gZmlsbD0id2hpdGUiIG9wYWNpdHk9Ii41IiBwb2ludHM9IjAsNCAxNiw0IDgsMTIiLz48L3N2Zz4=');
    }

button {
    margin-left: 0%;
    box-shadow: inset 0px 1px 0px 0px white;
    background: linear-gradient(to bottom, whitesmoke 5%, gray 100%);
    background-color: rgba(255,255,255,.5);
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow: -1px 1px 0px black;
}

    button:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
        background-color: #ffab23;
    }

    button:active {
        position: relative;
        top: 1px;
    }

.copyright {
    color: white;
    margin-left: 45%;
    margin-bottom: 2%;
    align-self: flex-end;
    font-family: 'Open Sans', sans-serif;
}

.homeLogo {
    font-family: Calvier;
    font-size: 14em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    text-align: center;
    vertical-align: middle;
    margin: 10%;
}

.logo {
    font-family: Calvier;
    font-size: 3em;
    color: black;
    opacity: 0.8;
    text-align: center;
    vertical-align: middle;
    margin-right: 10%;
}

.slogan {
    font-family: Amethyst;
    margin-left: 16%;
    font-size: 1em;
    color: black;
    opacity: 0.8;
}

.border {
    border: solid 8px whitesmoke;
    margin: 12%;
    margin-top: -5%;
    height: 100%;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navLogo a,
.viewNav a {
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.viewNav a {
    color: black;
    font-size: 1em;
}

li {
    margin-left: 5%;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: lightseagreen;
}

a:active {
    text-decoration: underline;
    color: lightseagreen;
}

.header {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.header, .viewNav {
    display: flex;
    align-items: center;
    width: 100%;
}

table {
    background-color: #FAFAFA;
    opacity: 0.95;
    min-height: 400px;
    margin: 10%;
    margin-top: 10%;
    border: solid 8px transparent;
    border-image: url(https://images.pexels.com/photos/1789968/pexels-photo-1789968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) 30 round;
    border-radius: 5px;
}

.text-table {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}

.table-options {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.resultTitle {
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
}

tbody {
    margin: 3%;
}

