<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Reset.css" rel="stylesheet"/>
    <link href="~/Styles/StyleSheet.css" rel="stylesheet"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="logo">Code Talk</div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="copyright">Copyright 2019 &copy</div>
    </footer>
</body>
</html>
