
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>For Loop Form</title>
</head>
<body>
    <div class="forLoop">
        <h2 class="codeInput"><strong>Code Details</strong></h2>
        <hr />
        <div class="mName">
            <input type="text" id="input1" placeholder="Method Name" name="method" oninput="methodName()" required>
        </div>
        <div class="dataTp">
            <input type="text" id="input2" placeholder="Array Name" name="dType" oninput="methodName()" required>
        </div>

        <h2 class="resultCode"><strong>Your Code</strong></h2>
        <hr />
        <p id="codeTalkCode"></p>

        <script>
            function methodName() {
                var x = document.getElementById("input1").value;
                var y = document.getElementById("input2").value;
                document.getElementById("codeTalkCode").innerHTML = "<br>public static int " + x + " ( int[] " + y + ")" + "<br>{<br><br>int counter = 0;<br>for (int i = 0; i < " + y + ".Length; i++)<br><br>{<br><br>counter++;<br>}<br>return counter;<br>}";
                var inputArr = [input1.value, input2.value];
            }
        </script>
        <button class="toResultButton" type="submit">Sumbit</button>
    </div>
</body>
</html>
