@model  CodeTalk.Models.Form
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>For Loop Form</title>
</head>
<body>
    <form method="post" asp-action="Create" asp-controller="Forms" class="forLoop" asp-route-id="2">
        <h2 class="codeInput"><strong>Code Details</strong></h2>
        <hr />
        <div class="project">
            <input type="text" id="codeName" name="codeId" placeholder="Project Name" oninput="methodName()" required>
        </div>
        <div class="mName">
            <input type="text" id="MethodName" placeholder="Method Name" name="method" oninput="methodName()" required>
        </div>
        <div class="dataTp">
            <input type="text" id="ArrayName" placeholder="Array Name" name="dType" oninput="methodName()" required>
        </div>

        <h2 id="projectName"></h2>
        <hr />
        <p id="codeTalkCode"></p>

        <script>
            function methodName() {
                var codeName = document.getElementById("codeName").value;
                var x = document.getElementById("MethodName").value;
                var y = document.getElementById("ArrayName").value;
                document.getElementById("projectName").innerHTML = codeName;
                document.getElementById("codeTalkCode").innerHTML = "<br>public static int " + x + " ( int[] " + y + ")" + "<br>{<br><br>int counter = 0;<br>for (int i = 0; i < " + y + ".Length; i++)<br><br>{<br><br>counter++;<br>}<br>return counter;<br>}";
                var inputArr = [codeName, MethodName.value, ArrayName.value];
                var json = JSON.stringify(inputArr);
                console.log(json);
            }
        </script>
        <button class="toResultButton" type="submit">Submit</button>
    </form>
</body>
</html>
