
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>For Loop Form</title>
</head>
<body>
    <form action="">
        public static void <input type="text" name="" value="Method Name">
        (int[<input type="text" name="" value="int value">] codeTalkArray )<br> { <br />int counter = 0;<span><br>for (int i = 0; i < codeTalkArray.Length; i++)<br />{<br />counter++; <br></span>}<br>}<br /><input type="submit" value="Submit">
    </form>
</body>
</html>
