
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>For Loop Form</title>
</head>
<body>
    <div class="forLoop">
        <form action="">
            public static int <input type="text" name="" value="Method Name">
            (int[<input type="text" name="" value="int value">] codeTalkArray )<br> { <br />int counter = 0;<span><br>for (int i = 0; i < codeTalkArray.Length; i++)<br />{<br />counter++; <br></span>}<br>return counter;<br />}<br /><input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
