
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Function Form</title>
</head>
<body>
    <div class="function">
        <form action="">
            public static void <input type="text" name="" value="Method Name">
            (<input type="text" name="" value="Data Type"><input type="text" name="" value="Parameter Name">)<br> { <br /><span><br>Method statements and arguments are defined here<br></span><br>}<br><br /><input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
