
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>If Statement Form</title>
</head>
<body>
    <form method="post" asp-action="Create" asp-controller="Forms" class="ifStatement" asp-route-id="3">
        <h2 class="codeInput"><strong>Code Details</strong></h2>
        <hr />
        <div class="project">
            <input type="text" id="codeName" name="codeId" placeholder="Project Name" required>
        </div>
        <div class="mName">
            <input type="text" id="MethodName" placeholder="Method Name" name="method" oninput="methodName()" required>
        </div>
        <div class="pName">
            <input type="text" id="ParameterName" placeholder="Parameter Name" name="param" oninput="methodName()" required>
        </div>
        <div class="intVal">
            <input type="text" id="IntegerValue" placeholder="Integer Value" name="intVal" oninput="methodName()" required>
        </div>

        <h2 id="projectName"></h2>
        <hr />
        <p id="codeTalkCode"></p>

        <script>
            function methodName() {
                var codeName = document.getElementById("codeName").value;
                var x = document.getElementById("MethodName").value;
                var y = document.getElementById("ParameterName").value;
                var z = document.getElementById("IntegerValue").value;
                document.getElementById("projectName").innerHTML = codeName;
                document.getElementById("codeTalkCode").innerHTML = "<pre>public static void " + x + "(int " + y + ")<br><br>{<br><br></pre><pre>  " + y + " = " + z + ";</pre><br><br><pre>  if (" + y + " < 10)<br><br><pre>  {<br><br>    Console.WriteLine(\"Yes\");</pre><br><br>  }<br><br>  else<br><br>  {<br><br>    Console.WriteLine(\"No\");<br><br>  }<br><br>}";
                var inputArr = [codeName, MethodName.value, ParameterName.value, IntegerValue.value];
                var json = JSON.stringify(inputArr);
            }
        </script>
        <button class="toResultButton" type="submit">Sumbit</button>
    </form>
</body>
</html>
